.favorites--card-deck{
  margin-top: 30px;
   justify-content: center;
}
.favorites--card-deck--row{
  justify-content: center;
}

.favorites--card-deck--yellow-box{
  justify-content: center;
}
.favorites--card-deck--link{
  width:inherit;
  text-decoration:inherit;
  color:inherit;
}
.favorites--card-deck--card-title{
  text-align: center;
}
.favorites--card-deck--card-text{
  text-align: center;
}
.header--logo{
  width: 50px;
   margin-right: 15px;
}
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.home--form{
  justify-content: center;
}
.home--form-control{
  margin-top: 10px;
}
.home--container--card-container{
  padding-top: 22px;
}
.home--card-header{
  justify-content: space-between;
  display:flex;

}